@use "../../../shared/styles/Fonts.module.scss" as *;
@use "../../../shared/styles/GlobalVariable.module.scss" as *;

.gameTable {

    &Container {
        max-width: 768px;
        max-height: 768px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: royalblue;
        border-radius: 100%;
        transform: translateY(40px);
    }

    &CenterContents {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }

}

.player {

    &Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    &Node {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: salmon;
        border-radius: 5px;
    }

    &ClassName {
        position: absolute;
        top: calc(-1rem - 10px);
        color: #fff;
        font-size: 1.0625rem;
        white-space: nowrap;
        text-align: center;
        font-family: $font_point--B;
    }

    &OrderCard {
        position: absolute;
        bottom: calc(-1rem - 10px);
        color: #fff;
        white-space: nowrap;
    }

}

.deck {

    &Node {
        width: 130px;
        height: 200px;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Remain {
        background-color: crimson;
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

}

.pile {

    &Node {
        width: 130px;
        height: 200px;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &Count {
        width: 30px;
        height: 30px;
        background-color: #111;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
    }

    &Card {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        >div {
            position: relative;
        }

        >p {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: darkmagenta;
            color: #fff;
        }
    }

}

.hand {

    &Node {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 9999;
        display: flex;
        align-items: center;
        height: 100%;
    }

    &Btn {
        position: absolute;
        left: 0;
        top: 0;
    }

    &Container {
        height: 100%;
        background-color: rgba($color: crimson, $alpha: 0.4);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow: hidden;
    }

    &Wrapper {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        column-gap: 10px;
    }

    &Dispenser {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 999;

        &Contents {
            width: 100%;
            background-color: #fff;
            position: relative;
            z-index: 2;
            padding: 30px 0;
        }

        &TitleWrap {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            >.title {
                color: rebeccapurple;
            }

            >.amount {
                color: brown;
            }

        }

        &BtnWrap {
            display: flex;
            align-items: center;

            >button {
                width: 100%;
            }

        }

    }

}

.card {

    &Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        height: fit-content;
        cursor: pointer;

        &.active {
            background-color: yellow;
        }

    }

    &Node {
        color: #fff;
        background-color: seagreen;

        &--btn {
            cursor: pointer;
        }

    }

    &Size {

        &--normal {
            aspect-ratio: 1/1.5;
            width: 30px;
        }

    }

}

.log {

    &Container {
        position: fixed;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 300px;
        max-height: 700px;
        min-height: 200px;
        color: #fff;
        background-color: rgba($color: #000000, $alpha: 0.6);
        border: 1px solid $color--primary;
        overflow: hidden;

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            overflow: hidden;
        }

    }

    &Wrap {
        padding: 30px 15px;
        overflow: hidden auto;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            width: 3px;
            background-color: #fff;
            border-radius: 10px;
            border: 4px solid transparent;
            background-clip: padding-box;
        }


    }

    &Cursor {
        width: 100%;
        height: 10px;
        cursor: row-resize;
        background-color: rgba($color: $color--primary, $alpha: 0);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transition: 0.4s;

        &:hover {
            background-color: rgba($color: $color--primary, $alpha: 0.4);
        }

    }

    &Time{
        font-size: .9375rem;
        opacity: 0.8;
    }

    &Chat{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        
        .time{
            font-size: .8125rem;
            opacity: 0.6;
        }

        .contents{
            word-break: keep-all;
            line-height: 1.25;
        }

    }

}