@use "../../../shared/styles/Fonts.module.scss" as *;

.gameTable {

    &Container{
        max-width: 768px;
        max-height: 768px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: royalblue;
        border-radius: 100%;
        transform: translateY(40px);
    }

    &CenterContents{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }

}

.player {

    &Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    &Node{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: salmon;
        border-radius: 5px;
    }

    &ClassName{
        position: absolute;
        top: calc(-1rem - 10px);
        color: #fff;
        font-size: 1.0625rem;
        white-space: nowrap;
        text-align: center;
        font-family: $font_point--B;
    }

    &OrderCard{
        position: absolute;
        bottom: calc(-1rem - 10px);
        color: #fff;
        white-space: nowrap;
    }

}

.deck {
    
    &Node{
        width: 130px;
        height: 200px;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Remain{
        background-color: crimson;
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

}

.pile {
    
    &Node{
        width: 130px;
        height: 200px;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &Count{
        width: 30px;
        height: 30px;
        background-color: #111;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
    }

    &Card{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        > div {
            position: relative;
        }

        > p {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: darkmagenta;
            color: #fff;
        }
    }

}

.hand {
    
    &Node{
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 9999;
        display: flex;
        align-items: center;
        height: 100%;
    }

    &Btn{
        position: absolute;
        left: 0;
        top: 0;
    }

    &Container {
        height: 100%;
        background-color: rgba($color: crimson, $alpha: 0.4);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow: hidden;
    }

    &Wrapper{
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        column-gap: 10px;
    }

    &Dispenser{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 999;

        &Contents {
            width: 100%;
            background-color: #fff;
            position: relative;
            z-index: 2;
            padding: 30px 0;
        }

        &TitleWrap{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            
            > .title{
                color: rebeccapurple;
            }

            > .amount{
                color: brown;
            }

        }

        &BtnWrap{
            display: flex;
            align-items: center;
            
            > button{
                width: 100%;
            }

        }

    }

}

.card {

    &Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        height: fit-content;
        cursor: pointer;

        &.active{
            background-color: yellow;
        }

    }

    &Node{
        color: #fff;
        background-color: seagreen;
        
        &--btn{
            cursor: pointer;
        }

    }

    &Size{

        &--normal {
            aspect-ratio: 1/1.5;
            width: 30px;
        }

    }        

}

.log {

    &Container {
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #fff;
        overflow-y: scroll;
    }

}