@media screen and (max-width: 768px) {

    .header {

        &Node {
            row-gap: 50px;
        }

        &TitleContainer {
            row-gap: 50px;

            .title {
                font-size: 5rem;
                letter-spacing: 5px;
            }

        }

        &MenuContainer {
            max-width: 300px;
            row-gap: 30px;

            button {
                padding: 15px 0;
                max-width: 250px;
                font-size: 1.5rem;
            }

        }

        &NavBtn {

            &Wrap {
                column-gap: 10px;

                button {
                    font-size: .9375rem;
                    padding: 8px 15px;

                    &.tipBtn {
                        width: 30px;
                        height: 30px;
                        font-size: 1.0625rem;
                    }

                }

            }

        }

        &AnchorContainer {
            // bottom: 80px;
            row-gap: 25px;

            >.guideAnchor {
                font-size: 1.125rem;

                &::after {
                    bottom: -10px;
                    height: 2px;
                }

            }

            >button {
                font-size: .875rem;
            }

        }

        &ModeContainer {
            max-width: 540px;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;

            .listContainer {
                padding: 20px 0;
                row-gap: 30px;

                >p {
                    font-size: 1.125rem;
                    opacity: 0.4;
                }

                >ul {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;

                    li {
                        button {
                            opacity: 1;
                            font-size: 1.125rem;
                            padding-bottom: 0;

                            &::after {
                                display: none;
                            }

                        }
                    }
                }

            }

            .contents {

                .desc{
                    padding: 20px;

                    >p {
                        font-size: 1rem;
                        line-height: 1.35;
                    }
                }

            }

        }

    }

    .loading {

        &Container {
            row-gap: 50px;
        }
    
        &Wrap{
            row-gap: 30px;
    
            >p{
                font-size: 1.25rem;
            }
        }
    
        &Contents{
            width: 120px;
            height: 120px;
        }
    
    }

}

@media screen and (max-width: 540px) {

    html,
    body {
        font-size: 14px;
    }

    .header {

        &Node {
            row-gap: 50px;
        }

        &TitleContainer {
            width: 100%;
            padding: 0 20px;
            row-gap: 40px;

            .title {
                font-size: 3.4375rem;
                letter-spacing: 5px;
            }

        }

        &MenuContainer {
            max-width: 300px;
            row-gap: 30px;

            button {
                padding: 15px 0;
                max-width: 200px;
                font-size: 1.25rem;
            }

        }

        &NavBtn {

            &Wrap {
                column-gap: 10px;

                button {
                    font-size: .9375rem;
                    padding: 8px 10px;

                    &.tipBtn {
                        width: 25px;
                        height: 25px;
                        font-size: 1.0625rem;
                    }

                }

            }

        }

        &AnchorContainer {
            bottom: 50px;
            row-gap: 25px;

            >.guideAnchor {
                font-size: 1.125rem;

                &::after {
                    bottom: -10px;
                    height: 2px;
                }

            }

            >button {
                font-size: .875rem;
            }

        }

        &ModeContainer {
            max-width: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            // flex-direction: column-reverse;
            align-items: center;
            row-gap: 30px;

            .listContainer {
                padding: 0;
                row-gap: 20px;
                align-items: center;

                >p {
                    font-size: 1.125rem;
                    opacity: 0.4;
                    text-align: center;
                }

                >ul {
                    align-items: center;
                    row-gap: 20px;

                    li {
                        button {
                            opacity: 1;
                            font-size: 1.125rem;
                            padding-bottom: 0;
                        }
                    }
                }

            }

            .contents {
                align-items: center;

                .desc{
                    padding: 20px;

                    >p {
                        font-size: 1rem;
                        line-height: 1.35;
                    }
                }

            }

        }

    }

}

@media screen and (max-height: 540px) {

    html,
    body {
        font-size: 14px;
    }

    .header {

        &Node {
            row-gap: 50px;
        }

        &TitleContainer {
            width: 100%;
            padding: 0 20px;
            row-gap: 30px;

            .title {
                font-size: 3.125rem;
                letter-spacing: 5px;
            }

        }

        &MenuContainer {
            max-width: 300px;
            row-gap: 30px;

            button {
                padding: 10px 0;
                max-width: 200px;
                font-size: 1.125rem;
            }

        }

        &NavBtn {

            &Wrap {
                column-gap: 10px;

                button {
                    font-size: .9375rem;
                    padding: 5px 10px;

                    &.tipBtn {
                        width: 25px;
                        height: 25px;
                        font-size: 1.0625rem;
                    }

                }

            }

        }

        &AnchorContainer {
            bottom: 5vh;
            left: 20px;
            transform: translateX(0);
            row-gap: 25px;

            >.guideAnchor {
                font-size: 1.125rem;

                &::after {
                    bottom: -10px;
                    height: 2px;
                }

            }

            >button {
                font-size: .875rem;
            }

        }

        &ModeContainer {
            align-items: center;
            row-gap: 30px;

            .listContainer {
                padding: 0;
                row-gap: 15px;

                >p {
                    font-size: 1.125rem;
                    opacity: 0.4;
                    text-align: center;
                }

                >ul {
                    align-items: center;
                    row-gap: 10px;

                    li {
                        button {
                            opacity: 1;
                            font-size: 1.125rem;
                            padding-bottom: 0;
                        }

                        &::after{
                            display: none;
                        }
                    }
                }

            }

            .contents {

                .desc{
                    padding: 20px;

                    >p {
                        font-size: 1rem;
                        line-height: 1.35;
                    }
                }

            }

        }

    }

}